{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

{% include "head.html" %}

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
    <header>
    {% block nav %}
        {% include "nav.html" %}
    {% endblock %}
    </header>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container ">
        {% block subnav %} {% endblock %}
        <!-- Example row of columns -->
        {% block content %}
        {% endblock %}
    </div>
    <!-- /container -->
    <footer class="footer">
      <div class="container">
        <p class="text-muted">Nommish.com - Recipe discovery app powered by <a href="http://www.yummly.com">Yummly</a></p>
      </div>
    </footer>
    <!--js footer -->
    {% include "footer_js.html" %}
    {% block footer_js %}{% endblock %}
    </body>
</html>