{% load staticfiles %} 
{% load recipe_tags %}
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
<link rel="stylesheet" href="{% static 'css/gallery.theme.css' %}">

<header class="nav-header">
    <!--header-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">nommish</a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            {% if searchform %} {% load crispy_forms_tags %} {% crispy searchform %} {% endif %}
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="glyphicon glyphicon-user"></i> {% if request.user.first_name or request.user.last_name %} {{ request.user.first_name }} {{ request.user.last_name }} {% else %} {{ request.user.username }} {% endif %}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'user-recipe-collection' %}">My Collection</a>
                                </li>
                                <li>
                                    <a href="{% url 'account_logout' %}">Sign Out</a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'account_signup' %}">Sign Up</a>
                        </li>
                        <li>
                            <a href="{% url 'account_login' %}">Log-in</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <section class="">
        <div class="top-cover">
            {% top_slider_contents %}
        </div>
    </section>
    <!--subheader-->
    <section class="subnav">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs subnav-list">
                        {% recipe_course_list %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
</header>
