{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% load bootstrap3 %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">
        <h2>{% trans "Sign In" %}</h2>
      </div>
    </div>
    <div class="panel-body">
      <p>
        <p>Don't have an account yet? <a href="{{ signup_url }}">Sign up</a> for an account</p>
        
      </p>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="form-actions">
          <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
        </div>
      </form>
      
    </div>
  </div>
</div>
{% endblock %}