{% extends "account/base.html" %} 
{% load i18n %} 
{% load bootstrap %}
{% load account %} 
{% block head_title %}{% trans "Sign In" %}{% endblock %} 
{% block content %}
<div class="container signup-container">
    <div class="">
      <div id="signincontainer" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <div class="panel-title">
                      {% trans "Sign In" %}
                  </div>
              </div>
              <div class="panel-body">
                  {% if socialaccount.providers %}
                    <p>{% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
                    <div class="socialaccount_ballot">
                        <ul class="socialaccount_providers">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>
                        <div class="login-or">{% trans 'or' %}</div>
                    </div>
                    {% include "socialaccount/snippets/login_extra.html" %} {% else %}
                    <p>
                      {% blocktrans %}If you have not created an account yet, then please
                      <a id="signup_link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
                    </p>
                  {% endif %}
                  <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="form-actions">
                      <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
                      <a class="btn" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>

                    </div>
                  </form>
                         
              </div>
          </div>
      </div>
      <div id="signupcontainer" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
          <div class="panel panel-info">
              <div class="panel-heading">
                  <div class="panel-title">
                      {% trans "Sign Up" %}
                  </div>
              </div>

              <div class="panel-body">
                <p>{% blocktrans %}Already have an account, <a id="signin_link" href="{{ login_url }}">sign in</a> here.{% endblocktrans %}
                </p>
                <form id="signup_form" method="post" action="{% url 'account_signup' %}">
                  {% csrf_token %}
                  {{ signupform|bootstrap }}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}
                  <div class="form-actions">
                  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
                  </div>
                </form>
              </div>
          </div>
      </div>
    </div>
</div>
{% endblock %}
{% block footer_js %}
<script type="text/javascript">
$(document).ready(function(){
  if (/\/\/[^\/]+\/accounts\/signup\//.test(window.location.href)) {
    $("#signupcontainer").show();
    $("#signincontainer").hide();
  }
  $("#signup_link").on("click", function() {
    $("#signincontainer").hide();
    $("#signupcontainer").show();
    return false;
  });
  $("#signin_link").on("click", function() {
    $("#signupcontainer").hide();
    $("#signincontainer").show();
    return false;
  });
});
</script>
{% endblock %}