{% load template_filters %}
<div class="row">
<!-- Recipe Cards -->
{% for recipe in recipe_list %}
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="thumbnail">
            <div class="thumb">
                <a href="{% url 'recipe-detail' slug=recipe.slug %}">
                {% if recipe.large_image %}
                <img alt="{{ recipe.name }}" title="{{ recipe.name }}" src="{{ recipe.large_image }}">
                {% else %}
                <img src="http://placehold.it/360x240"  height="195">
                {% endif %}
                <div>
                    <p>{{ recipe.name|truncatechars_html:25}}</p>
                    <span>{{ recipe.course.name }}</span>
                </div>
                </a>
            </div>
            <div class="container">
                <div class="row">
                    <ul class="source-text">
                        <li>
                            <a href="{% url 'recipe-source-list' slug=recipe.source_slug %}">{{ recipe.source_text|truncatechars_html:20 }}</a>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-time" aria-hidden="true" alt="Prep time:" title="Prep time:"></span> 
                            {{ recipe.preparation_time|prettify_time_in_seconds }}
                        </li>
                    </ul>
                </div>
            </div>
      </div>
    </div>
{% endfor %}
</div>