{% load staticfiles %} 
{% load template_filters %}

{% if slider_contents %}
{% with slider_range=slider_contents|length %}

<div class="gallery items-{{ slider_contents|length }}">

{% for i in slider_range|loop_range %}
    <div id="item-{{ forloop.counter }}" class="control-operator"></div>
{% endfor %}

{% for slide in slider_contents %}
    <figure class="item top-cover">
        <div class="content" style="background: #000 url('{% static slide.img_link %}') center center; -ms-background-size: cover; -o-background-size: cover; -moz-background-size: cover; -webkit-background-size: cover; background-size: cover;">
          <div class="caption">
            <h3>{{slide.caption}}</h3>
            <a class="btn btn-info btn-large" href="{{slide.link}}">{{slide.link_caption}}</a>
          </div>
        </div>
        <div class="gradient"></div>             
    </figure>
{% endfor %}
    <div class="controls">
{% for i in slider_range|loop_range %}
        <a href="#item-{{ forloop.counter }}" class="control-button top-cover-control">•</a>
{% endfor %}
    </div>

</div>
{% endwith %}
{% endif %}